<!--Панель анкетных данных пациента-->
<personal-data (OutPersonalData)="personalData($event)"></personal-data>

<!--Панель диагнозов и процедур-->
<div class="diagnoses-procedures">
  <div class="diagnoses-procedures__panel">
    <h5>Diagnoses panel</h5>
    <p class="no_data" *ngIf="Diagnoses.length === 0">No data</p>

    <div class="diagnoses-procedures__list">
      <div class="item" *ngFor="let Diagnose of Diagnoses">
        <div class="item__main">
          <div class="item__block">
            <input class="item__checkbox" type="checkbox" [checked]="Diagnose.status" (change)="changeStatus('Diagnoses', Diagnose.id, Diagnose.status)" />
            <div class="item__title">{{ Diagnose.title }}</div>
          </div>

          <div class="item__flags" *ngIf="Diagnose.status === true">
            <div class="item__flag" *ngFor="let Flag of Diagnose.flags">{{ Flag }}</div>
          </div>

          <div class="item__delete">
            <button class="item__delete_btn" (click)="deleteItem('Diagnoses', Diagnose.id)">X</button>
          </div>
        </div>
        <div class="item__description" *ngIf="Diagnose.status === true">{{ Diagnose.description }}</div>
      </div>
    </div>

    <div class="diagnoses-procedures__add_block">
      <input class="item__add_input" type="text" placeholder="New diagnose" #diagnose_input />
      <button class="item__add_btn" (click)="addDiagnose(diagnose_input)">Add</button>
    </div>
  </div>
  <div class="diagnoses-procedures__panel">
    <h5>Procedures panel</h5>
    <p class="no_data" *ngIf="Procedures.length === 0">No data</p>

    <div class="diagnoses-procedures__list">
      <div class="item" *ngFor="let Procedure of Procedures">
        <div class="item__main">
          <div class="item__block">
            <input class="item__checkbox" type="checkbox" [checked]="Procedure.status" (change)="changeStatus('Procedures', Procedure.id, Procedure.status)" />
            <div class="item__title">{{ Procedure.title }}</div>
          </div>

          <div class="item__flags" *ngIf="Procedure.status === true">
            <div class="item__flag" *ngFor="let Flag of Procedure.flags">{{ Flag }}</div>
          </div>

          <div class="item__delete">
            <button class="item__delete_btn" (click)="deleteItem('Procedures', Procedure.id)">X</button>
          </div>
        </div>

        <div class="item__description" *ngIf="Procedure.status === true">{{ Procedure.description }}</div>
      </div>
    </div>

    <div class="diagnoses-procedures__add_block">
      <input class="item__add_input" type="text" placeholder="New procedure" #procedure_input />
      <button class="item__add_btn" (click)="addProcedure(procedure_input)">Add</button>
    </div>
  </div>
</div>

<!--Панель результатов рассчета-->
<div class="result_panel">
  <h5>Diagnoses panel</h5>
  <p class="no_data" *ngIf="!PatientResult">No data</p>
  <div class="result_panel__content">

    <div class="result_panel__column" *ngIf="PatientResult">
      <div class="result_panel__row">MDC</div>
      <div class="result_panel__row">DRG</div>
      <div class="result_panel__row">Entgelt inkl.</div>
    </div>

    <div class="result_panel__column" *ngIf="PatientResult">
      <div class="result_panel__row">{{ PatientResult.mdc }}</div>
      <div class="result_panel__row">{{ PatientResult.drg }}</div>
      <div class="result_panel__row">{{ PatientResult.entgelt }}</div>
    </div>

    <div class="result_panel__column" *ngIf="PatientResult">
      <div class="result_panel__row">{{ PatientResult.mdcDescription }}</div>
      <div class="result_panel__row">{{ PatientResult.drgDescription }}</div>
      <div class="result_panel__row"></div>
    </div>

  </div>
</div>
