.no_data {
  color: rgb(200, 200, 200);
}
.diagnoses-procedures {
  display: flex;
  margin-top: 20px;
}
.diagnoses-procedures__panel {
  width: 40%;
  flex-direction: column;
  margin-right: 50px;
}
.diagnoses-procedures__panel:last-child {
  margin-right: 0;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-radius: 5px;
}
.item:nth-child(odd) {
  background: rgb(230, 230, 230);
}
.item__main, .item__block, .item__flags {
  display: flex;
  align-items: center;
}
.item__checkbox {
  margin-right: 5px;
}
.item__title {
  margin-right: 10px;
}
.item__flag {
  margin-right: 5px;
  padding: 3px 10px;
  border-radius: 10px;
  background: darkgrey;
  font-size: 14px;
}
.item__flag:last-child {
  margin-right: 0;
}
.item__description {
  margin-top: 3px;
  font-style: italic;
  color: grey;
  font-size: 12px;
}
.item__delete {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
}
.item__delete_btn, .item__add_btn {
  padding: 8px 15px;
  background: rgb(251, 86, 86);
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}
.item__delete_btn:hover, .item__add_btn:hover {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.item__add_btn {
  background: rgb(83, 195, 161);
  border-radius: 0 10px 10px 0;
}
.item__add_input {
  flex-grow: 2;
  padding: 8px 15px;
  background: rgb(230, 230, 230);
  border-radius: 10px 0 0 10px;
  outline: none;
  border: none;
}
.diagnoses-procedures__add_block {
  display: flex;
  margin-top: 20px;
}
.result_panel {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.result_panel__content {
  display: flex;
}
.result_panel__column {
  display: flex;
  flex-direction: column;
}
.result_panel__column:last-child{
  flex-grow: 2;
}
.result_panel__row {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 30px 0 10px;
  border-bottom: 2px solid rgb(230, 230, 230);
}
.result_panel__row:last-child {
  border-bottom: none;
}
