<h5>Personal data</h5>
<div class="personal-data">
  <div class="personal-data__input-block">
    <label>Patient ID</label>
    <input type="text" name="Patient_ID" [(ngModel)]="ID" (ngModelChange)="onInput()" />
  </div>
  <div class="personal-data__input-block">
    <label>Name</label>
    <input type="text" name="Name" [(ngModel)]="Name" (ngModelChange)="onInput()" />
  </div>
  <div class="personal-data__input-block">
    <label>Birthday</label>
    <input type="date" name="Birthday" [(ngModel)]="Birthday" (ngModelChange)="onInput()" />
  </div>
  <div class="personal-data__input-block">
    <label>Sex</label>
    <select [(ngModel)]="Sex" (ngModelChange)="onInput()">
      <option value=""></option>
      <option value="1">Undefined</option>
      <option value="2">Man</option>
      <option value="3">Woman</option>
    </select>
  </div>
  <div class="personal-data__input-block">
    <label>Departament</label>
    <select [(ngModel)]="DepartamentId" (ngModelChange)="onInput()">
      <option></option>
      <option *ngFor="let Departament of DepartamentsList" value="{{ Departament.id }}">{{ Departament.name }}</option>
    </select>
  </div>
</div>
